.container-image{
  height: 435px;
  width: 350px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  margin-left: 200px;
  border: 6px black solid;
  margin-bottom: 50px;
  margin-top: 45px;
}
.info-text>:nth-child(1){
    position: absolute;
    bottom:-960px;
    left: 678px;  
    font-size: 18px;
    color: darkorange;
}
.info-text>:nth-child(2){
    position: absolute;
    bottom:-980px;
    left: 678px;   
    font-size: 25px;
    line-height:0.1;
    
}
.info-text>:nth-child(3){
    position: absolute;
    bottom: -1040px;
    left: 680px;
  
    font-size: 15px;
    
}
.accordion{
    
    position: absolute;
    bottom: -1350px;
    left: 680px; 
}

